<!DOCTYPE HTML>
<html lang = "en">
  <head>
    <title>basicTable.html</title>
    <meta charset = "UTF-8" />
    <style type = "text/css">
    table, td, th {
      border: 1px solid black;
    }
    </style>
  </head>
  <body>
    <h1>A Basic Table</h1>
    <h2>HTML Superheroes</h2>
    <table>
      <tr>
        <th>Hero</th>
        <th>Power</th>
        <th>Nemesis</th>
      </tr>
      <tr>
        <td>The XMLator</td>
        <td>Standards compliance</td>
        <td>Sloppy Code Boy</td>
      </tr>
      <tr>
        <td>Captain CSS</td>
        <td>Superlayout</td>
        <td>Lord Deprecated</td>
      </tr>
      <tr>
        <td>Browser Woman</td>
        <td>Megacompatibility</td>
        <td>Ugly Code Monster</td>
      </tr>
    </table>
  </body>
</html>